.nav {
    display: flex;
    justify-content: center;
    background-color: black;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.nav a:hover {
    background-color: aqua;
    color: black;
}